<h3>Hello Baltar</h3>
<p>
You have recieved a message from <%= @mail_info["from_name"] %> about <%= @mail_info["the_subject"] %>
</p>
<br/>
His message reads thus:
<br/>
<p>
<%= @mail_info["message"] %>
<p>
Please consider it and reply to <%= @mail_info["from_email"] %><br/>
Best Wishes,<br/>
Your Ruby Slave.<br/>