.container { 
	width: 980px;} 
body {	background: #ffffff;} 
/*Cabecera*/
header {
		padding-top: 20px;
}header img { 
	padding: 1em; 
	background: #fff;
}


/*Sección intermedia*/
section { 
	font-size: 120%; 
	padding: 20px; 
	background: #ededed;
	height: 100%;
	overflow-y:auto; /* Hace que se ajuste a la columna más alta en ff */
} 
section h1 {
	font-size: 200%;
}
section h6{
	font-weight: normal;
	text-align: justify;
	font-size: 100%;

}
/*Pie de página */
footer {	text-align: right; 
	margin-top: 10px; 
	margin-left: auto; 
	margin-right: auto;
	font-size: 120%;
	color: #ffffff;
	background-color: #000000; 
	margin: 0; 
	font-size: 120%;
	padding: 0 20px; 
} 
/* Links */a{ 
	color: #09c; 
	text-decoration: none;}a:hover { 
	color: #069; 
} 
a:visited {
	color: #069;}

/* Navigation */
/* Opciones del menú */
nav { 
	float: right;
	white-space: nowrap;
	width: 100%; 
	background-color: #000; 
	height: 102px;
	color: #6f448b;

}nav ul { 
	font-size: 140%;
	display: inline-block;
	list-style: none;
	vertical-align:top;
	margin-top: 40px;
	width: 70px;
	}
nav ul li { 
	display: none;
	border: 3px solid #000;
}
nav ul:hover li{
	visibility: visible;
	display: block;
	width: 200px;
	background-color: #000; 
	position: relative; /*Para que se vea sobre la imagen de promoción*/
}

nav img {
	padding: 0 0px; 
	float:left;
	margin: 20px;

}

/* Sign up button */a.signup_button { 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	text-align: center; 
	width: 190px; 
	color: #fff; 
	background: #006400; 
	font-size: 150%; 
	font-weight: bold; 
	padding: 20px;}
/* Round corners, redondeamos los cuadros de la web */.round { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;}

/*Sección promociones*/
.promocion {

	background-color: #6f448b; 
	width: 98%; 
	padding: 10px;
	margin-bottom: 25px;

}
.promocion h1{
	color: #ffffff;
	font-weight: bold;
	font-size: 300%;
	margin: 20px;	
}
.promocion h2{
	color: #ffffff;
	font-weight: bold;
	font-size: 150%;
	margin: 20px;	
}
.promocion h6{
	margin-top: 30px;
	margin-left: 20px;
}
.promocion img{
	float: right;
	margin: 10px;
}
/*FIN Sección promociones*/

.columna3{
	width: 30%;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
	background-color: #DDD;
}
.columna2{
	width: 45%;
	margin: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
	background-color: #DDD;
	height: 500px;
}
.columnapeque{
	width: 45%;
	margin: 10px;
	padding: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius:	10px;
	background-color: #DDD;
	height: 300px;
}
.columnapeque img{
	height: 250px;
	width: 300px;
	margin: 30px;
}


/* Para los errores de casillas */
.field_with_errors {
	margin-top: 10px; padding: 2px; background-color: red; display: table;
} 
.field_with_errors label {
	color: #fff;
}
#error_explanation { 
	width: 400px; 
	border: 2px solid red; 
	padding: 7px; 
	padding-bottom: 12px; 
	margin-bottom: 20px; 
	background-color: #f0f0f0;
}
#error_explanation h2 { 
	text-align: left; 
	font-weight: bold; 
	padding: 5px 5px 5px 15px; 
	font-size: 12px;
	margin: -7px; 
	background-color: #c00; 
	color: #fff;
}
#error_explanation p { 
	color: #333; 
	margin-bottom: 0; 
	padding: 5px;
}
#error_explanation ul li { 
	font-size: 12px; 
	list-style: square;
}
.ejemploimg{
	width: 300px;
	margin-top: 20px;	
}
