<%= render 'layouts/promotion' %>

<h1>
	Aplicaciones web
</h1> 
<p>La tecnología web nos permite crear aplicaciones que sean utilizadas 
desde navegadores, bien accesibles desde redes locales o accesibles desde Internet. 
A esto se le denomina Cloud Computing.

No se realiza sólo la creación de una página web con fines básicamente publicitarios, 
sino que el objetivo es eliminar las aplicaciones de escritorio para sustituirlas 
por aplicaciones en la red. De esta manera el cliente sólo necesitará de un navegador para
poder acceder desde cualquier dispositivo con conexión a Internet.

Las aplicaciones online pueden desarrollarse para la gestión de facturación, 
gestión de proveedores, gestión de clientes, boletines de noticias, control de recursos, 
etc, teniendo ilimitados usos dependiendo de las operaciones que realice la empresa.

Existen desarrollados distintos módulos que permitirán la gestión de una empresa y dependiendo
de las necesidades de su empresa se contratará un paquete de módulos u otro.

Por ejemplo, teniendo los siguientes módulos:

<ul>
	<li>Módulo para el registro de clientes</li>
	<li>Módulo de pagos</li>
	<li>Módulo de informes</li>
	<li>Módulo de reservas</li>
</ul>

Si usted tiene un gimnasio, podría necesitar el módulo de pago de coutas y el módulo de registro
de clientes. ¿Pues sólo pagaría por esos dos módulos!. Si por el contrario es dentista y necesita además
el módulo de reservas, pues se añadiría al paquete.

Cada módulo tiene un coste mensual y se podría clasificar en estos precios dependiendo de la complejidad
del mismo:
<ul>
	<li>Módulo sencillo: 4,99 € /Mensual</li>
	<li>Módulo estándar: 6,99 € /Mensual</li>
	<li>Módulo complejo: 9,99 € /Mensual</li>
</ul>

¿Por qué el pago es mensual? porque  SÓLO debe pagar el software mientras lo use y además siempre estará
actualizado a la última versión desarrollada.

Si los módulos "prefabricados" no se adaptan a sus necesidades, siempre se puede desarrollar a su medida.
</p>
