<%= render 'layouts/promotion' %>

<h1>
	Desarrollo para Ipad, Iphone y smartphones con Android
</h1> 
<p>

Mediante las aplicaciones móviles, usted puede dar servicios a sus clientes o 
bien gestionar su empresa desde su teléfono. Si necesita una aplicación para el 
Iphone o Ipad, o cualquier dispositivo con Android, la solución se la ofrecemos 
desde Usabi. 

Te garantizamos desarrollar tus aplicaciones en el menor tiempo y 	<%= link_to "presupuesto", new_support_path %> .


Otro servicio asociado a los dispositivos móviles es la adaptación de tu página web para su visualización desde 
este tipo de terminales. 

Nuestro objetivo es ofrecerle un servicios integral de calidad y creatividad, diseñar y desarrollar su aplicación. <br>
	<%= link_to iphone %> 
</p>