<%= render 'layouts/promotion' %>
<h1>
Usabi, tu socio tecnológico
</h1> 
<p>
<h5>Usabi es una empresa de Desarrollo de Software a medida basado 
en metodologías de desarrollo ágil y que cuenta con un equipo 
altamente cualificado.
</h5>
<div class="columna3" style="float: right">
	<h4>¿Cuales son las fases en el desarrollo del proyecto?</h4>
		<ol >
			<li>Realizamos el análisis de sus necesidades</li>
			<li>Le presentamos una propuesta de solución tecnológica</li>
			<li>Diseñamos y desarrollamos el proyecto, conjuntamente con usted</li>
			<li>Finalmente implantamos dicha solución en su empresa</li>
			<li>Ofrecemos formación y soporte sobre la misma</li>
			<li>Realizamos el análisis de sus necesidades.</li>
		</ol>
		Nuestra solución es integral, usted sólo debe preocuparse de validar que el proyecto sigue
		las directrices de sus necesidades.
</div> 
<div class="columna3" style="float: left">
		<h4>Principalmente, ¿qué hacemos?</h4>
			Nuestros servicos están orientados a:
			<ul>
				<li>Desarrollo sitios web. Desde webs básicas hasta tiendas virtuales, módulos de 
				gestión de empresa online o CRM entre otros ejemplos.</li>
				<li>Desarrollo de software para smartphones (Iphone y Android).</li>
			</ul>
</div>
<div class="columna3" style="margin-left: 34%">
	<h4>¿Cuál es nuestro principal objetivo?</h4>
		Nuestro principal objetivo es que el software desarrollado se <b> adapte a las 
		necesidades del cliente </b> y no lo contrario. Por ello, dentro de nuestro modelo 
		de fabricación de software, mantenemos reuniones periódicas con nuestros 
		clientes para revisar la evolución del proyecto y marcar los siguientes 
		objetivos a desarrollar. Lo que deseamos, es ser sus socios tecnológicos y que nuestra
		relación no sea simplemente comercial.
</div>






