<h1>
Usabi
</h1> 
<p>
<h6>Usabi es una empresa se dedica principalmente a la ingeniería de software, 
destacando en el desarrollo de soluciones personalizadas y a medida.

Nuestro principal objetivo es que el software desarrollado se adapte a las 
necesidades del cliente y no lo contrario. Por ello, dentro de nuestro modelo 
de fabricación de software, mantenemos reuniones periódicas con nuestros 
clientes para revisar la evolución del proyecto y marcar los siguientes 
objetivos a desarrollar.

Principalmente se desarrollará software orientado a soluciones online o para 
dispositivos móviles.
Desarrollo sitios web. Desde webs básicas hasta tiendas virtuales, módulos de 
gestión de empresa online o CRM entre otros ejemplos.
Desarrollo de software para smartphones (Iphone y Android).
Realizamos el análisis de sus necesidades, le presentamos una propuesta de 
solución tecnológica, diseñamos y desarrollamos el proyecto, implantamos 
dicha solución en su empresa y ofrecemos formación y soporte sobre la misma. 
Incluimos técnicas en Business Intelligence en el desarrollo de aplicaciones.
</h6>
