<%= render 'layouts/promotion' %>

<h1>
	Servicios web
</h1> 
<p>
Asociada a la creaci칩n de una p치gina web tenemos distintos servicios:
<ul>
	<li>Posicionamiento web</li>
	<li>Dominio y hosting</li>
	<li>Actualizaci칩n de contenidos</li>
	<li>Copias de seguridad</li>
	<li>Cursos de formaci칩n</li>
</ul>
</p>
