<footer class="round"> 
<div>
		Nos encontramos en: C/ Cayetana Manrique, 19, Las Palmas de Gran Canaria<br>
		mobile: +34 629 47 77 78<br>
		phone: +34 928 22 63 59<br>
		mail: info@usabi.es<br>
</div>
<div>

<%= link_to twitter, "http://twitter.com/_usabi"%>
<%= link_to facebook, "http://www.facebook.com/pages/Usabi/212986768742036?sk=wall"%>

</div>
</footer>