<div class="promocion">
	<%= link_to promocion, paquetesweb_path %>
	<h1>
		Promoción Verano!!<br>
		Su página web desde 50€ *
	</h1>
	<h2>
		No se complique la vida, si su negocio necesita <br>
		tener visibilidad en Internet, esta  <br>
		es la solución. <br>
	</h2>
	<h6>* No se incluye el dominio ni hosting. Coste aprox. 4,99/mes </h6>

</div>

